*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --settings-color: #00b594;
    --search-color: #b8b4b4;
    --line-color: #00a49c;
    --options-color: #259984;
    --container-color: #505554;

}


.wrap{
    background-color: lightblue;
    width: 1550px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 75vh;
}

.container{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

span{
    color: white;
}


.settings h1{
    padding-top: -25px;
    font-weight: 1000px;
    font-size: 295%;
    font-family: Arial, Helvetica, sans-serif; 
}

.settings-container{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--settings-color);
    display: flex;
    height: 945px;
    width: 300px;
}

.foot p{
    padding-top: 55px;
    padding-left: 110px;
}
.options p{
    font-size: 1.1rem;
    margin-left: 1.5rem;
    font-weight: 200;
    transition: 0.3 ease;
}

.options p:hover{
   border-bottom: 3px solid var(--hover-color);
    color: var(--hover-color);
}

.options p{
    margin-top: 15px;
    font-size: 130%;
}



.footer{
    padding-top: 550px;
}

.footer p{
  font-size: 120%;
}

.box{
    display: flex;
}

.header{
  margin-top: -905px;
  margin-left: -1170px;
  justify-content: center;
  text-align: center;
}

.header h1{
    padding-top: -20px;
    font-size: 200%;
    padding-left: 700px;
}

.header p{
    margin-left: 2370px;
    margin-top: -45px;
}

.search {
    align-items: center;
    padding-left: 2000px;
    margin-top: -27px; 
    display: flex;
}

.search-input {
    font-size: 15px;
    height: 38px;
    width: 278px;
    border-radius: 15px;
    padding-left: 20px;
    border-color: var(--search-color);
}

.divider {
    width: 130px;
    margin-left: 690px;
    height: 3.5px;
    background-color: var(--line-color);
    display: inline-block;
}

    


.upper-container{
    flex: row;
    display: flex;
    margin-left: 200px;
    padding-top: 31.5px;
    justify-content: center;
    margin-top: -870px;
   
}

.upper-container p{
    font-size: 15.0px;
    margin-left: 20px;
    
    

}

.upper-container h2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 17.5px;


}


.mid-container{
    flex: row;
    display: flex;
    margin-top: 290px;
    margin-left: -925px;
    padding-top: 18.5px;
    justify-content: center;
    margin-top: -590px;
   
}

.mid-container p{
    font-size: 15.0px;
    margin-left: 20px;
    

}

.mid-container h2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 17.5px;

}




.bottom-container{
    flex: row;
    display: flex;
    margin-left: -925px;
    padding-top: 18.5px;
    justify-content: center;
    margin-top: -320px;
  
   
}

.bottom-container p{
    font-size: 15.0px;
    margin-left: 20px;
    

}

.bottom-container h2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 17.5px;

}


.upper-left{
    border: 2px solid var(--container-color);
    border-radius: 10px;
    border-width: 3.5%;
    margin-right: 50px;
    width: 275px;
    height: 238px; 
   
    
}

.upper-middle{
    border: 2px solid var(--container-color);
    border-radius: 10px;
    border-width: 3.5%;
    margin-right: 50px;
    width: 275px;
    height: 238px; 
 
}

.upper-right{
    border: 2px solid var(--container-color);
    border-radius: 10px;
    border-width: 3.5%;
    width: 275px;
    height: 238px; 
   
}




.mid-left{
    border: 2px solid var(--container-color);
    border-radius: 10px;
    border-width: 5%;
    margin-right: 50px;
    width: 275px;
    height: 238px; 
    
}

.mid-middle{
    border: 2px solid var(--container-color);
    border-radius: 10px;
    border-width: 5%; 
    margin-right: 50px;
    width: 275px;
    height: 238px; 
}

.mid-right{
    border: 2px solid var(--container-color);
    border-radius: 10px;
    border-width: 3.5%;
    width: 275px;
    height: 238px;  
   
}




.bottom-left{
    border: 2px solid var(--container-color);
    border-radius: 10px;
    border-width: 5%;
    margin-right: 50px;
    width: 275px;
    height: 238px;  
   
    
}

.bottom-middle{
    border: 2px solid var(--container-color);
    border-radius: 10px;
    border-width: 5%; 
    margin-right: 50px;
    width: 275px;
    height: 238px;
}

.bottom-right{
    border: 2px solid var(--container-color);
    border-radius: 10px;
    border-width: 3.5%;
    width: 275px;
    height: 238px;   
   
}



